@charset "utf-8";
/* CSS Document */

input::-moz-focus-inner /*Remove button padding in FF*/
{
    border: 0;
    padding: 0;
	margin: 0;
}
.app_stage .input-xxlarge{
	min-height:128px;
	width:95%;
}
.app_stage textarea.input-xlarge{
	min-height:128px;
	width:45%;
}
.app_stage label.control-label{
	float:none;
	text-align:left;
	font-family:'OpenSansSemibold';
}
.form-horizontal .controls {
margin-left: 0px;
}
.form-horizontal .form-actions {
padding-left: 0;
}
@media (min-width:640px){
	.app_stage label.control-label{
		float:left;
		text-align:right;
	}
	.form-horizontal .controls {
	margin-left: 180px;
	}
	.form-horizontal .form-actions {
	padding-left: 180px;
	padding-right:20px;
	}

.app_stage textarea.input-xxlarge{
	min-height:128px;
	width:80%;
}
}


@media (min-width:10px) and (max-width:1020px) {
	input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
		padding-left:20px;
		padding-right:20px;
	}
	input.btn-large {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	display: block;
	}
}
@media (min-width:640px) and (max-width:1020px) {
}
@media (min-width:10px) and (max-width:640px) {
	input[type="file"], input[type="text"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], select, textarea{
		padding:6px;
		height:auto;
		width:100% !important;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		display:block;
	}
	.form-inline input[type='text'], .form-inline select{
		margin-bottom:10px;
	}
	.form-actions{
		background-color:transparent;
		padding:20px 0 0 0;
		box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-o-box-sizing:border-box;
	}
	.form-actions input.btn-large{
		padding:12px 6px;
	}
	.form-actions input+input{
		margin-top:10px;
	}
}
input{
	max-width:100%;
}