<table cellpadding="0" cellspacing="0" width="100%" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; background-color:#DDDDDD; border-collapse:collapse; border-spacing:0; margin:0;	padding:0;	border:0;	outline:0;	font-size:100%;	vertical-align:baseline;" >
	<tr>
		<td style="padding-top:0px;"><table cellpadding="0" cellspacing="0" width="600" align="center">
				<tr>
					<td height="121"><a href="#"><img src="banner.jpg" width="600" height="121" alt="" /></a></td>
				</tr>
				<tr style="background-color:#FAFAFA;">
					<td style="padding-left:20px; padding-right:20px; padding-top:10px;"><h2 style="margin:0; padding:0; text-indent:0px ; font-size:24px;color:#282828; font-family:Georgia, 'Times New Roman', Times, serif; line-height:40px; font-weight:normal; height:40px; border-bottom-style:solid; border-bottom-color:#CCC; border-bottom-width:1px"><?php echo $news['title']; ?></h2></td>
				</tr>
				<tr style="background-color:#FAFAFA">
					<td style="padding:20px; font-size:13px; color:#555; line-height:20px; font-family:Arial, Helvetica, sans-serif;">
                                            <?php echo $news['msg']; ?>
                                        </td>
				</tr>
				<tr>
					<td><img src="foot_1.gif" height="3" width="599" alt="" /></td>
				</tr>
				<tr style="background-color:#FAFAFA">
					<td style="font-size:11px; color:#666; text-align:center; padding:20px;"><a href="#" style="color:#666; text-decoration:underline;">www.fashionasia.nl</a><br />
						Copytight Fashion Asia 2013</td>
				</tr>
				<tr>
					<td style="padding-bottom:20px;background-color:#FAFAFA;"><img src="foor_2.gif" height="3" width="599" alt="" /></td>
				</tr>
				<tr>
					<td><p style="font-size:10px; text-transform:uppercase;color:#666; padding:10px; padding-bottom:20px; padding-top:0px; line-height:20px; text-align:center; font-weight:bold; border-bottom-color:#8C8C8C; border-bottom-style:dotted; border-bottom-width:1px;">FOUND THIS EMAIL IN YOUR JUNK MAIL? TO ENSURE YOU DON'T MISS A THING, ADD noreply@proshore.eu TO YOUR ADDRESS BOOK TO RECEIVE OUR E-MAILS DIRECTLY IN YOUR INBOX.</p>
						<p style="font-size:10px;color:#666; padding:10px; padding-bottom:20px;  padding-top:0px;  line-height:20px; text-align:center; font-weight:bold;">This email has been sent to you because you are a registered member of Fashion Asia or signed up for our newsletter. 
							If you no longer wish to receive e-mail from us, click here </p></td>
				</tr>
				<tr>
					<td height="20">&nbsp;</td>
				</tr>
			</table></td>
	</tr>
</table>