    <link href="<?php echo $this->Html->assetUrl('source/jquery.fancybox.css'); ?>?t=2" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="<?php echo $this->Html->assetUrl('source/jquery.fancybox.js'); ?>?t=2"></script>
  <script type="text/javascript" src="<?php echo $this->Html->assetUrl('source/helpers/jquery.fancybox-media.js'); ?>?t=2"></script>