@charset "utf-8";
/* CSS Document */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

.floatR{float:right;}
.floatL{float:left;}
.floatN{float:none;}


.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
.clr{
	clear:both;
}
*{
	padding:0;
	margin:0;
	border:none;
}
.bold{font-weight:bold;}

.font10{font-size:10px;}
.font11{font-size:11px;}
.font12{font-size:12px;}
.font13{font-size:13px;}
.font14{font-size:14px;}
.font15{font-size:15px;}
.font16{font-size:16px;}
.font17{font-size:17px;}
.font18{font-size:18px;}
.font19{font-size:19px;}
.font20{font-size:20px;}
.font21{font-size:21px;}
.font22{font-size:22px;}

.lh1{line-height:1em;}
.lh1_2{line-height:1.2em;}
.lh1_5{line-height:1.5em;}
.lh1_66{line-height:1.66em;}
.lh2{line-height:2em;}

.textR{text-align:right;}
.textC{text-align:center;}
.textL{text-align:left;}

.uh:hover{
	text-decoration:underline;
}
.u{
	text-decoration:underline;
}
.uc{
	text-transform:uppercase;
}
.sansserif{
	font-family:sans-serif;
}


.pad5{padding:5px;}
.pad10{padding:10px;}
.pad15{padding:15px;}
.pad20{padding:20px;}
.pad25{padding:25px;}
.pad30{padding:30px;}

.padB5{padding-bottom:5px;}
.padB10{padding-bottom:10px;}
.padB15{padding-bottom:15px;}
.padB20{padding-bottom:20px;}
.padB25{padding-bottom:25px;}
.padB30{padding-bottom:30px;}

.padT0{padding-top:0;}
.padR0{padding-right:0;}
.padB0{padding-bottom:0;}
.padL0{padding-left:0;}


h1{}
h2{}
h3{}
h4{}
h5{}
h6{}
p{}
a{
	text-decoration:none;
	color:inherit;
}

body{
	font-family:Verdana, Geneva, sans-serif;
	color:#013667;
}

.content{
}

header{
	background:rgba(255,255,255,0.75);
	text-align:center;
	padding:0.5em;
}
.logo img{
	width:8em;
	height:auto;
}
.logo{
	margin-bottom:0.625em;
}
nav ul li{
	display:inline;
	font-size:0.8125em;
}


.bg_video_container{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow:hidden;
}
.bg_video{
    position: absolute;
    display: block;
    top:0;
    height: 100%;
    left:50%;

}
.wide .bg_video{
     left:50%;
    width:100%;
    height:auto;
}

.page{
	position:relative;
}

.col_cont-3{
	padding:0.75em 0.80em 0.75em 0.80em;
}
.col_cont-3 .col{
	width:33.33%;
	float:left;
}

.content{
	background-color:rgba(255,255,255,0.5);
}
.content.intro{
	background-color:transparent;
	padding:0.75em 0 0.75em 0.80em;
	color:#FFF;
	min-height:12.5em;
}
.content .col .text{
	font-size:0.55em;
	line-height:1.3em;
}
.content .col p{
	margin-bottom:1.3em;
}
.col_pos{
	padding-right:0.625em;
}

aside.bottom{
	padding:0.75em 0 0.75em 0.80em;
}
.box{
	background-color:rgba(255,255,255,0.5);
	min-height:4.25em;
}
.box_small{
	width:30%;
	box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-o-box-sizing:border-box;
}
.box_med{
	width:60%;
	box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-o-box-sizing:border-box;
padding:0.5em;
}
.font_xl{
	font-size:2.0625em;
}
.font_l{
	font-size:1.6em;
	line-height:1.3em;
}
footer{
	background-color:rgba(255,255,255,0.74);
	padding:0.75em 0 0.75em 0.80em;
	position:relative;
}
footer li, nav li{
	display:inline;
	font-size:0.81em;
	line-height:1em;
}
footer li:after, nav li:after{
	content:'-';
	padding:0 0px 0 5px;
}
footer li:last-child:after, nav li:last-child:after{
	display:none;
}
figure.fluid img{
	width:100%;
	height:auto;
}

.text ul li{
	position:relative;
	padding-left:1em;
}
.text ul li:before{
	content:'- ';
	position:absolute;
	left:0;
	top:0;
}


.start{
	position:absolute;
	display:block;
	border-left:1em solid #003768;
	border-top:0.5em solid transparent;
	border-bottom:0.5em solid transparent;
	right:1em;
	top:50%;
	margin-top:-0.5em;
}
.start.play{
	border:1em solid #003768;
	border-bottom:0;
	border-left:0;
}
.font_m{
	font-size: 0.80em;
}
.cycle-prev, .cycle-next{
	position:absolute;
	top:45%;
	z-index:9999;
	cursor:pointer;
	opacity:0.6;
}
.cycle-prev{
	left:10px;
	border-right:25px solid #FFF;
	border-top:25px solid transparent;
	border-bottom:25px solid transparent;
}
.cycle-next{
	right:10px;
	border-left:25px solid #FFF;
	border-top:25px solid transparent;
	border-bottom:25px solid transparent;
}
.cycle-prev:hover, .cycle-next:hover{
	opacity:1;
}