<?php
$footerItems = $this->Cms->getFooter(28);
 ?>
<ul>
<?php
     foreach ($footerItems as $fkey => $fmenuItem):
        $footerLinker=($this->action=='contact') ? $fmenuItem['Menu']['routing_link']: 'javascript:void(0)';
        $footerLinker= $fmenuItem['Menu']['routing_link'];
        echo '<li>';
        if ($fmenuItem['Menu']['routing_link']=='/contact') {
        echo "<a id=\"{$fmenuItem['Menu']['extra_params']}\" href=\"{$this->Html->url('/contact')}\">{$fmenuItem[0]['Menu__i18n_name']}</a>";
        }else{
        echo "<a id=\"{$fmenuItem['Menu']['extra_params']}\" href=\"{$this->Html->url($footerLinker)}\">{$fmenuItem[0]['Menu__i18n_name']}</a>";
        }
        echo '</li>';
         ?>
    <?php endforeach ?>
</ul>
<div class="start"></div>
    
<?php
$fb=Configure::read('cmsSiteSetting.facebook');
$tw=Configure::read('cmsSiteSetting.twitter');
$ln=Configure::read('cmsSiteSetting.linkedin');
 ?>
<!--<span class="scoail">
    <?php //echo $this->Html->link($this->Cms->aImage('facebook.png'), $fb,array('escape'=>false,'target'=>'_blank')); ?>
    <?php //echo $this->Html->link($this->Cms->aImage('twitter.png'), $tw,array('escape'=>false,'target'=>'_blank')); ?>
    <?php //echo $this->Html->link($this->Cms->aImage('likedin.png'), $ln,array('escape'=>false,'target'=>'_blank')); ?>
</span>-->