<div id="content" class="clearfix">
  <div class="one_third floatL">
    <?php echo $this->element('front/main_category'); ?>
    <?php echo $this->element('front/sale'); ?>    
  </div>
	<div class="two_third floatR">
		<div class="box">
			<h2>Gold Plated</h2>
			<div class="clearfix">
			<div class="product_grid_slot clearfix">
				<div class="prod_img"><img src="assets/images/ck.jpg" width="150" alt="product" /></div>
				<div class="prod_desc">
							<h5><a href="#">Calvin klien Elements watch</a></h5>
							<div class="price">$ 200</div>
				</div>
			</div>
		</div>
			
			<div class="paginnation clearfix">
				<ul>
					<li class="off" id="page_prev">&laquo; Prev</li>
					<li class="active">1</li>
					<li><a href="gallery2.php">2</a></li>
					<li><a href="gallery3.php">3</a></li>
					<li><a href="gallery4.php">4</a></li>
					<li id="page_next"><a href="gallery2.php">Next &raquo;</a></li>
				</ul>
			</div>
		</div>
		
			
		
	</div>
</div>