<div class="email_info_right">
    <div class="email_info">
        <p><font color="red"><strong>Legends</strong> (for dynamic content)</font></p><br /> 
        <?php foreach($allLegend as $leg){?>
        <p><strong><?php echo $leg['Legend']['legend']; ?></strong> = <?php echo $leg['Legend']['name']; ?></p>
        <?php } ?>
    </div>
</div>