<h1>Welcome</h1>
<h2 class="floatL">Your content</h2><a href="#" class="floatR btn_black">+ Add new content</a>
<div class="clear"></div>
<div class="horizontal_line"></div>
<!--<div class="success_msg"> <span><strong>Success message</strong> |   Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</span> </div>--> 
<!--<div class="fail_msg"> <span><strong>Success message</strong> |   Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</span> </div>-->
<table  width="100%" class="styled_table">
        <tr>
                <th>Category</th>
                <th> sub category</th>
                <th> page name</th>
                <th>edit the page</th>
        </tr>
        <?php for ($i = 0; $i < 5; $i++) { ?><tr>
                        <td>Category</td>
                        <td> Hotels</td>
                        <td> Rooms and services, Lorem ipsum dolor sit amet, consectetur adipiscing elit ..</td>
                        <td class="textC"><a href="#" class="edit_ico hover_tool" rel="edit">&nbsp;</a> <a href="#" class="view_ico hover_tool" rel="view">&nbsp;</a> <a href="#" class="delete_ico hover_tool" rel="delete">&nbsp;</a></td>
                </tr> <?php } ?>


</table>

